@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  height: 100%;
}

body {
  color: rgba(40, 40, 40, 1);
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.2em;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

p.hello {
  font-family: 'Work Sans';
  font-size: 1.2em;
}

.header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.lost {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*@media screen and (max-width: 500px) {
  body {

  }
}*/
